/* extra small device..... | (XS) */
@media  screen and (min-width:0px) and (max-width:576px){
    .row{
        text-align: center;
    }
    .row .main-containt{
        margin: 5px;
        font-size: 15px;
    }    
    #logo .namelogo{
        margin-left: -60px;
    }     
    #Searchbar {
        width: 250px;
        right: -15px !important;
        margin-top: 10px;
    }  
    #Searchbar:hover{
        width: 350px;
    }                  
    #Searchbar .form-control{
        padding: 5px 10px;
    }  
    #Searchbar .search_button {
        right: -10px;
        width:80px;
       height: 33px;
       padding: 5px;
    }     
}

/* small device.....| (sm) */
@media screen and (min-width:577px) and (max-width:768px){
    .row .main-containt{
        margin: 0;
        font-size: 10px;
    } 
}


/* Medium device.....| (md)  */
@media screen and (min-width:769px) and (max-width:992px){
   
}

/* large device.....| (L) */
@media screen and (min-width:993px) and (max-width:1200px){

}

/* extra large device......| (XL) */
@media screen and (min-width:1201px) and (max-width:1400px){
    .row .main-containt .call_info{
        text-align: end ;
    }
}

/* extra extra large device........| (XXL) */
@media screen and (max-width:1401px){
    
}